<?xml version="1.0"?>
<!--
/**
 * @author Developers-Alliance team
 * @copyright Copyright (c) 2023 Developers-alliance (https://www.developers-alliance.com)
 * @package Magento 2 Base
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DevAll_Base::base"
             title="DevAll"
             module="DevAll_Base"
             sortOrder="30"
             resource="Magento_Backend::admin"/>
    </menu>
</config>
